.layout-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .app-bar {
    background-color: #1976d2;

    @media print {
      display: none !important;
    }

    .toolbar-content {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      .main-menu-button {
        margin-right: 2rem;
        font-weight: 500;
        text-transform: none;
        color: white;
        border-right: 1px solid rgba(255, 255, 255, 0.3);
        padding-right: 1rem;
      }



      .nav-links {
        display: flex;
        margin: 0 auto;
        justify-content: center;

        @media (max-width: 768px) {
          flex-direction: column;
          align-items: center;
        }

        .nav-button {
          margin: 0 0.5rem;
          font-weight: 500;
          text-transform: none;
          color: white;

          @media (max-width: 768px) {
            margin: 0.25rem 0;
          }

          &.active {
            font-weight: 700;
            text-decoration: underline;
          }
        }
      }

      .logout-button {
        margin-left: auto;
        font-weight: 500;
        text-transform: none;
        color: white;
        border-left: 1px solid rgba(255, 255, 255, 0.3);
        padding-left: 1rem;
      }
    }
  }

  .main-content {
    flex-grow: 1;
    padding: 2rem 1rem;
    background-color: #f5f5f5;
  }

  .footer {
    padding: 1.5rem;
    margin-top: auto;
    background-color: #f5f5f5;
    border-top: 1px solid #e0e0e0;
  }
}

// Print styles
@media print {
  .layout-root {
    background-color: white;
    display: flex !important;
    flex-direction: column !important;

    .app-bar {
      display: none !important;
    }

    .main-content {
      background-color: transparent;
      transform: none;
    }

    .footer {
      display: none;
    }
  }
}